@charset "UTF-8";

/* .bl-left { background-color:red; position:relative; float:left; width:50%; height:300px; display: flex; justify-content: center; align-items: center; }
.bl-right{ background-color:blue; position:relative; float:right; width:50%; height:150px; display: flex; justify-content: center; align-items: center; }
 */